{% extends 'base.html' %}
{% block content %}

<section>

    <h1>{{name}}'s Store Page</h1>
    <h1>Located at: {{address}}</h1>
    <div class="bakery_image">
        <img src="/viewimage/{{image}}" />
    </div>
    <p>{{description}}</p>

    {% if is_owner %}
    <div>
        <a href="/edit-bakery-profile">
            <div class="button">Edit Bakery Profile</div>
        </a>
        <a href="/create-item">
            <div class="button">Add a Product</div>
        </a>
    </div>
    {% endif %}

</section>
<section>
    <div class="cardContainer">
        {% for item in shopItems %}
        <div class="productCard">
            <a href="/item/{{item['_id']}}">
                <div class="cardImage" style="background-image: url(/viewimage/{{item['image']}} )">
                </div>
            </a>
            <div class="cardText">
                <h4>{{item["name"]}}</h4>
                <p>{{item["description"]}}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</section>

{% endblock content %}