{% extends 'base.html' %}
{% block content %}

<section>

    <h1>{{name}}</h1>
    <p class="nonBoldTitle">Located at: {{address}}</p>
    <div class="bakery_info">
        <img src="/viewimage/{{image}}" />
        <div>
            <p>About Us / Tagline</p>
            <p>{{description}}</p>
        </div>
    </div>



    {% if is_owner %}
    <div>
        <a href="/edit-bakery-profile">
            <div class="button">Edit Bakery Profile</div>
        </a>
        <a href="/create-item">
            <div class="button safe">Add a Product</div>
        </a>
    </div>
    {% endif %}

</section>
<section class="full_width_content">
    <p class="nonBoldTitle">Shop From {{name}}</p>
    {% include "itemCards.html" %}
</section>

{% endblock content %}