<!DOCTYPE html>
<html>

<head>
    <title>Doughversity</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>

    <nav>
        <div>
            <a href="/">
                <p class="siteTitle">Doughversity</p>
            </a>
        </div>
        <div>
            <a href="/">Home</a>
            <a href="/">About</a>
            {% if current_user.is_authenticated %}
            <a href="/myprofile">Profile</a>
            {% if current_user.role == "bakery" %}
            <a href="/mybakery">My Bakery</a>
            {% endif %}
            <a href="/logout">Logout</a>
            {% else %}
            <a href="/login">Login</a>
            {% endif %}
            <a href="/cart">Cart ({{session["cart_items"]|length}})</a>
        </div>
    </nav>

    {% block content %}{% endblock %}


    <footer>
        <div>
            Copyright 2020, Jonathan Warner
        </div>
    </footer>

    <script src="/static/index.js"></script>
</body>

</html>