{% extends 'base.html' %}
{% block content %}

<section class="cart_section">
    <h1>My Cart</h1>
    <div class="cart_container">
        {% for item in items %}
        <div class="cart_item">
            <div class="cart_item_title">
                <p>Item {{items.index(item)+1}} of {{items|length}}</p>
                <a href="/removecartitem/{{item['id']}}">
                    <div class="button">X</div>
                </a>
            </div>

            <div class=" cart_item_body">
                <p>Name: {{item["name"]}}</p>
                <p>Quantity: {{item["quantity"]}}</p>
                <p>Price: {{item["price"]}}</p>
            </div>


        </div>
        {% endfor %}
        <div class="cart_item">

            <div class="cart_total">
                <h3>Subtotal: ${{subtotal}}</h3>
            </div>

        </div>
        <div class="cart_checkout">
            <a href="/checkout">
                <div class="button safe cart_checkout_button">Checkout</div>
            </a>
        </div>
    </div>
</section>

{% endblock content %}