{% extends 'base.html' %}
{% block content %}

<section class="full_width_content">
    <img src="../static/images/featured_image.png" class="featured_image" />
    <div class="featured_content">
        <p class="featured_title pure-img">Good Cookies<br>Endless Variety</p>
        <a href="/shop">
            <div class="button featured_button"><b>Shop Now</b></div>
        </a>

    </div>
</section>
<section class="full_width_content colorContent">
    <div class="productListTitle">
        <p class="nonBoldTitle">Bakery Store</p>
        <a href="/shop">View All Items</a>
    </div>

    {% include "itemCards.html" %}

</section>


{% endblock content %}