{% extends 'base.html' %}
{% block content %}

<section class="home_content">
    <img src="../static/images/featured_image.png" class="featured_image" />
    <div class="featured_content">
        <p class="featured_title pure-img">Good Cookies<br>Endless Variety
        <div class="button featured_button"><a href="/plans" class="">View Plans</a></div>
        </p>
    </div>
</section>
<section class="home_content">
    <p class="blackTitle">Featured Products</p>
    <div class="cardContainer">
        {% for item in shop_items %}
        <div class="productCard">
            <a href="/item/{{item['_id']}}">
                <div class="cardImage" style="background-image: url(/viewimage/{{item['image']}})">
                </div>
            </a>
            <div class="cardText">
                <h3>{{item["name"]}}</h3>
                <p>{{item["description"]}}</p>
            </div>
        </div>
        {% endfor %}
    </div>

</section>


{% endblock content %}