{% extends 'base.html' %}
{% block content %}

<section class="home_content">
    <img src="../static/images/featured_image.png" class="featured_image" />
    <div class="featured_content">
        <p class="featured_title">Good Cookies<br>Endless Variety
        <div class="button"><a href="/plans" class="button">View Plans</a></div>
        </p>
    </div>
</section>
<section class="home_content">
    <div class="home_inner">
        <h1>About</h1>
        <ul>
            <li>Doughversity was created to help bakers sell their cookies and connect users with cookies from locally
                owned
                bakeries
                around the country.</li>

            <li>Our web service will initially provide monthly subscription boxes containing unique, bakery made cookies
                from up
                to a
                dozen different bakeries.</li>

            <li>We will then expand our service to offer an online storefront where small bakers can sell their goods
                online
                to
                a wide
                audience free of charge.
            </li>
        </ul>
    </div>
</section>


{% endblock content %}