{% extends 'base.html' %}
{% block content %}

<section>
    <form method='POST'>
        <h1>Update your password.</h1>
        <fieldset>
            <div class="form_container">
                <label for="password">Reset Password</label>
                <input type="password" id="password" name="password" required="true" placeholder="New Password">

                <input type="submit" class="submit" value="Change Password">

                {% for message in get_flashed_messages() %}
                <p class="errorText">{{message}}</p>
                {% endfor %}
            </div>
        </fieldset>
    </form>
</section>

{% endblock content %}